body {
  align-items: center;
}

.hacker-background {
  background-color: #000;
  color: rgb(77, 255, 0);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
}

.hacker-text {
  text-align: center;
}

@keyframes animate-code {
  0% {
    content: "";
  }
  50% {
    content: "**************";
  }
  100% {
    content: "";
  }
}

.hacker-text::after {
  content: "";
  animation: animate-code 1s infinite;
}
